RewriteEngine On
RewriteBase /whatsup2/

# Routes dynamiques depuis /routes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ routes/$1.php [L,NC]

# Rediriger tout le reste vers la page 404 personnalisée
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ routes/not-found.php [L]
